<div class="container">
    <div class="login-section">
        <h1>PARKING APP</h1>
        <h2>ESTADO COCHERAS</h2>
        <a class="logout-btn" [routerLink]="['/Login']">Cerrar sesión</a>
        <div>
            <a [routerLink]="['/reportes']" class="reportes">Reportes</a>
        </div>
        
    </div>
    
    <div class="action-buttons">
        <button (click)="agregarFila()" class="boton-resaltado">Agregar fila</button>
    </div>


    <div class="tabla">
        <div class="header-tabla fila">
            <div>Nro.</div>
            <div>Descripción</div>
            <div>Disponibilidad</div>
            <div>Acciones</div>
        </div>
        
    
        <div *ngFor="let fila of filas; let i = index" class="fila-tabla">
            <div>{{ fila.id }}</div>
            <div>{{ fila.descripcion }}</div>
            <div>
                <span [ngClass]="{ disponible: fila.deshabilitada, ocupado: !fila.deshabilitada }"
                       (click)="cambiarDisponibilidadCochera(fila)">
                    {{ fila.deshabilitada ? 'DISPONIBLE' : 'NO DISPONIBLE' }}
                </span>
            </div>
            <div *ngIf="!fila.deshabilitada && fila.patente" class="informacion-patente-ingreso">
                <div class="patente">Patente: {{ fila.patente }}</div>
                <div class="ingreso">Ingreso: {{ fila.fechaIngreso }} {{ fila.horaIngreso }}</div>
            </div>
            <div *ngIf="!fila.deshabilitada && fila.fechaDeshabilitado" class="informacion-patente-ingreso">
                <div class="deshabilitado">Deshabilitado: {{ fila.fechaDeshabilitado }} {{ fila.horaDeshabilitado }}</div>
            </div>
            <div class="acciones-container">
                <button (click)="cambiarDisponibilidadCochera(fila)" class="boton-disponibilidad">🚫</button>
                <button (click)="eliminarFila(fila.id)" class="boton-disponibilidad">🗑</button>
                <button *ngIf="!fila.deshabilitada && fila.descripcion !== 'Disponible'" (click)="cobrarEstacionamiento(fila.id)" class="boton-disponibilidad">💰</button>
            </div>   
        </div> 
    </div>
    