<main>
    
    <div class="container">
      <div class="login-section">
        <h1>PARKING APP</h1>
        <h2>ESTADO COCHERAS</h2>
        <a class="logout-btn" [routerLink]="['/Login']">Cerrar sesión</a>
        <a class = "estado"[routerLink]="['/estado-cocheras']">Estados cocheras</a>
      </div>
  
      <div class="tabla">
        <div class="header-tabla fila">
          <div>Nro.</div>
          <div>Mes</div>
          <div>Usos</div>
          <div>Cobrado</div>
        </div>
  
        <div *ngFor="let reporte of reporteEstacionamientos; let i = index" class="fila-tabla">
          <div>{{ i + 1 }}</div>
          <div>{{ reporte.mes }}</div>
          <div>{{ reporte.usos }}</div>
          <div>{{ reporte.cobrado | currency:'ARS' }}</div>
        </div>
      </div>
    </div>
  </main>
  

